*/src-gen
*/bin
*/xtend-gen
*/plugin.xml
*/plugin.properties
*/jabc.project
*/META-INF/MANIFEST.MF
.metadata/
info.scce.cinco.product.autoDSL.autodsl.editor.graphiti/
info.scce.cinco.product.autoDSL.autodsl.gratext/
info.scce.cinco.product.autoDSL.autodsl.gratext.ui/
info.scce.cinco.product.autoDSL.autodsl.primeviewer/
info.scce.cinco.product.autoDSL.check.editor.graphiti/
info.scce.cinco.product.autoDSL.check.gratext/
info.scce.cinco.product.autoDSL.check.gratext.ui/
info.scce.cinco.product.autoDSL.check.primeviewer/
info.scce.cinco.product.autoDSL.feature/
info.scce.cinco.product.autoDSL.product/
info.scce.cinco.product.autoDSL.rule.editor.graphiti/
info.scce.cinco.product.autoDSL.rule.gratext/
info.scce.cinco.product.autoDSL.rule.gratext.ui/
info.scce.cinco.product.autoDSL.rule.primeviewer/

info\.scce\.cinco\.product\.autoDSL\.tmprule\.gratext\.ui/

info\.scce\.cinco\.product\.autoDSL\.tmprule\.editor\.graphiti/

info\.scce\.cinco\.product\.autoDSL\.tmprule\.primeviewer/

info\.scce\.cinco\.product\.autoDSL\.tmprule\.gratext/
/bin/
