*/src-gen
*/bin
*/xtend-gen
*/plugin.xml
*/plugin.properties
*/jabc.project
*/META-INF/MANIFEST.MF
.metadata/
info.scce.cinco.product.autoDSL.autodsl.gratext/
/info.scce.cinco.product.autoDSL.autodsl.gratext.ui/
info.scce.cinco.product.autoDSL.autodsl.primeviewer/
info.scce.cinco.product.autoDSL.feature/
info.scce.cinco.product.autoDSL.product/
info.scce.cinco.product.autoDSL.systemcomponent.gratext/
info.scce.cinco.product.autoDSL.systemcomponent.gratext.ui/
info.scce.cinco.product.autoDSL.systemcomponent.primeviewer/
